* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #region debug */

.debug section:nth-child(2n+1) {
    background-color: rgb(240, 240, 240);
}

.debug .container {
    max-width: 1170px;
    min-height: 300px;
    width: 80%;
    margin: auto;
    background-color: rgb(255, 202, 102);
}

.debug .row, .debug .final-row {
    flex-basis: 100%;
    display: flex;
    min-height: 250px;
}

.debug #site_header .container {
    min-height: 80px;
    display: flex;
    align-items: center;
    background-color: lightgrey;
}

.debug #site_header .container .row,
.debug #site_footer .final-row {
    min-height: 40px;
    background-color: rgb(255, 112, 112);
}

.debug .hero,
.debug #site_footer {
    background-color: rgb(94, 94, 250);
    min-height: 400px;
    display: flex;
    align-items: center;
}

.debug .hero .container {
    border: 1px dotted black;
    background-color: lightgrey;
}

.debug section {
    margin-bottom: 3rem auto;
}

.debug section .container {
    margin: 2rem auto;
    display: flex;
    align-items: center;
}

.debug section .container .row {
    background-color: #cc77289f;
}

.debug .col-2,
.debug .col-4,
.debug .col-8 {
    border: 1px dashed black;
}

.debug section .container .row .card {
    min-width: calc(100%-2rem);
    min-height: 150px;
    margin: 2rem;
    background-color: #797bf7;
}

.debug #site_footer .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.debug #site_footer .container .row{
    background-color: #bdbdbd;
    align-items: center;
}

.debug section .container .row .col-4,
.debug section .container .row .col-8 {
    margin: 1rem 0;
    background-color: rgb(149, 247, 149);
}

.debug #site_footer .container .row .col-2,
.debug #site_footer .container .row .col-4,
.debug #site_footer .container .row .col-8 {
    min-height: 200px;
}

.debug #site_footer .container .row .col-2 {
    background-color: rgb(255, 212, 133);
}

.debug #site_footer .final-row {
    justify-content: space-between;
}

/* #endregion debug */


.col-2 {
    width: calc(100%/12 * 2);
}

.col-4 {
    width: calc(100%/12 * 4);
}

.col-8 {
    width: calc(100%/12 * 8);
}